/* UserForm.css */

.user-form {
  width: 600px;
  height: auto;
  margin-top: 40px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}
.user-Head{
  font-size: 40px;
}
.user-form:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.user-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="tel"],
.user-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.user-form input[type="text"]:focus,
.user-form input[type="email"]:focus,
.user-form input[type="tel"]:focus,
.user-form select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.user-form .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.user-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-form button[type="submit"]:hover {
  background-color: #0056b3;
}
